/* fira-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('../fonts/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-v10-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* roboto-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-mono-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto-mono-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-mono-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-mono-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-mono-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-mono-v12-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-500italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/ibm-plex-mono-v6-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono Medium Italic'), local('IBMPlexMono-MediumItalic'),
       url('../fonts/ibm-plex-mono-v6-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v6-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v6-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v6-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v6-latin-500italic.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}

/* sedan-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sedan';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sedan-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playwrite-es-deco-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playwrite ES Deco';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playwrite-es-deco-v4-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* handlee-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/handlee-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ubuntu-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* big-shoulders-inline-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Big Shoulders Inline';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/BigShouldersInline.otf') format('opentype'); /* OpenType Font */
}

/* bad-script-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/BadScript-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Karma font family - latin-devanagari */
@font-face {
  font-display: swap;
  font-family: 'Karma';
  font-style: normal;
  font-weight: 300; /* Light */
  src: url('../fonts/Karma-Light.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Karma';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url('../fonts/Karma-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Karma';
  font-style: normal;
  font-weight: 500; /* Medium */
  src: url('../fonts/Karma-Medium.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Karma';
  font-style: normal;
  font-weight: 600; /* SemiBold */
  src: url('../fonts/Karma-SemiBold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Karma';
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url('../fonts/Karma-Bold.ttf') format('truetype');
}

/* Mukta font family - latin-devanagari */
@font-face {
  font-display: swap;
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 200; /* ExtraLight */
  src: url('../fonts/Mukta-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 300; /* Light */
  src: url('../fonts/Mukta-Light.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url('../fonts/Mukta-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 500; /* Medium */
  src: url('../fonts/Mukta-Medium.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 600; /* SemiBold */
  src: url('../fonts/Mukta-SemiBold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url('../fonts/Mukta-Bold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 800; /* ExtraBold */
  src: url('../fonts/Mukta-ExtraBold.ttf') format('truetype');
}


